.welcome{
text-align: center;
font-size: 37px;
}
h3{
    background-image: url(https://wallpaperaccess.com/full/656336.png);
    border-style: solid;
    border-radius: 100px;
}
a{
color: #1e90ff;
font-size: 20px;
text-decoration-color: navy;
text-decoration-style: none;
}
a:hover{
color: crimson;
font-size: 24px;
text-decoration-color: navy;
text-decoration-style: wavy;
}
li{
    border-style: solid;
    border-radius: 100px;
}