.welcome{
text-align: center;
font-size: 37px;
}
h3{
    border-style: solid;
    border-image: url(https://wallpaperaccess.com/full/1866348.jpg);
    border-radius: 100px;
}
a{
color: #1e90ff;
font-size: 20px;
text-decoration-color: navy;
text-decoration-style: none;
}
a:hover{
color: crimson;
font-size: 24px;
text-decoration-color: navy;
text-decoration-style: wavy;
}