.welcome{
text-align: center;
font-size: 37px;
}
h3{
    border-style: solid;
    border-radius: 75px;
}
a{
color: #1e90ff;
font-size: 20px;
text-decoration-color: navy;
text-decoration: none;
border-style: solid;
border-color: black;
}
a:hover{
color: aliceblue;
font-size: 24px;
text-decoration-color: navy;
text-decoration: none;
border-style: solid;
border-color: black;
}
li{
    border-style: solid;
    border-radius: 75px;
}
body{
background-color: dodgerblue;
}